/* Primera pantalla */
.imgSliderNosotros {
  min-height: 400px;
  max-height: 86vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.45);
}

@media screen and (max-width: 835px) {
  .imgSliderNosotros {
    min-height: 89vh;
    max-height: 89vh;
  }
}

.containerNosotros {
  background-color: rgba(245, 236, 225, 0.21);
}

/* Nuestra historia */
.tarjetasNuestraFilosofia {
  background-image: url("../../../assets/Palmeras-Fondo-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Ubicacion */
.containerNosotrosUbicacion {
  background-image: url("https://res.cloudinary.com/dylansdev/image/upload/v1737053778/Ubicaci%C3%B3n_vnqkiu.png");
}
