/* Primera pantalla */
.imgSliderNosotros {
  min-height: 400px;
  max-height: 86vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.45);
}

/* Media para que el fondo de la pagina solo aparezca en dispositivos medianos y grandes */
.containerNosotros {
  background-color: rgba(245, 236, 225, 0.21);
}

/* Nuestra historia */
.tarjetasNuestraFilosofia {
  background-image: url("../../../assets/Palmeras-Fondo-2.svg");
  background-size: cover; /* Ajusta el SVG al tamaño de la pantalla */
  background-position: center;
  background-repeat: no-repeat;
}
