.imgHeroSection {
  filter: brightness(0.55);
}

/* Efectos para botones de la página principal */
.btnPrincipal:hover {
  transform: scale(1.09);
  background: linear-gradient(90deg, #e8c093, #89bbad, #17598c);
}

/* Efectos para imagenes de la página principal */
.imgPrincipal {
  transition: box-shadow 0.7s ease-in-out;
}

.imgPrincipal:hover {
  box-shadow: 0 0 20px rgba(23, 89, 140, 0.676);
}

/* Media para que el fondo de la pagina solo aparezca en dispositivos medianos y grandes */
@media (min-width: 768px) {
  .containerPrincipal {
    background-image: url("../../../assets/Palmeras-Fondo.svg");
    background-size: cover; /* Ajusta el SVG al tamaño de la pantalla */
    background-position: center;
    background-repeat: repeat;
  }
}

/* Efecto para las cards */
.tarjetaAnimada:hover {
  transform: scale(1.07);
}

/* Efectos estrellas tripadvisor */
.fondoTripAdvisor {
  background-image: url(https://res.cloudinary.com/dylansdev/image/upload/v1736980550/trip-1_alkldr.png);
  background-size: cover; /* Ajusta el SVG al tamaño de la pantalla */
  background-position: center;
  background-repeat: no-repeat;
}

.estrellas svg {
  fill: #f0ca0a; /* Color base (amarillo) */
  transition: fill 0.5s ease-in-out;
}

.estrellas:hover svg {
  fill: #34e0a1; /* Aplica el gradiente al pasar el mouse */
  transform: scale(1.09);
}
