.rdrMonths {
  justify-content: space-around;
}

.rdrMonth {
  width: 100%;
  padding-inline: 10px;
}

.rdrDateDisplayItem input {
  color: #89bbad;
  font-weight: 700;
  font-size: 20px;
}

.rdrDateDisplayItem {
  border-radius: 25px;
}

.rdrDateDisplayWrapper {
  border-radius: 25px;
}

.rdrMonthAndYearPickers {
  font-size: 17px;
}

.rdrMonthName {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.custom-swal-popup {
  border-radius: 30px !important; /* Más redondeado */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.custom-swal-button {
  border-radius: 50px !important; /* Botón circular */
  padding: 10px 20px; /* Tamaño más grande */
}
