/* Fuentes a utilizar */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-nunito {
  font-family: "Nunito";
  font-weight: 600;
}

.text-poppins {
  font-family: "Poppins";
}

.fs-medium {
  font-weight: 500;
}

/* Colores a utilizar */
.color-arena {
  color: #e8c093 !important;
}

.bg-arena {
  background-color: #e8c093 !important;
}

/* Estilos generales */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

/* Estilos barra de desplazamiento */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #e8c09300;
}

body::-webkit-scrollbar-thumb {
  background: #e8c093ba;
  border-radius: 18px;
  border-right: 2px;
}

/* Estilos específicos */
/* Navbar */
.navbar-brand:hover {
  transform: scale(1.1);
}

.boton-Identificarse {
  border: 2px solid #e8c093 !important;
  border-radius: 24px;
  background: transparent;
  color: #e8c093;
  transition: background 0.7s ease, color 0.3s ease, transform 0.3s ease;
}

.boton-Identificarse:hover {
  font-weight: 400;
  background: linear-gradient(45deg, #e8c093, #89bbad, #17598c);
  border: 0px !important;
  color: white !important;
  transform: scale(1.11);
}

/* Estilos para los links del navbar */
.nav-link {
  padding-bottom: 4px !important ;
  color: #333;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e8c093;
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
  width: 100%;
}

/* Estilos para el footer */
/* Aplicamos el estilo a los iconos dentro de linkFooter */
.linkFooter {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease, color 0.6s ease; /* transición suave */
  color: #393632; /* color por defecto */
}

/* Efecto cuando se pasa el mouse sobre el contenedor linkFooter */
.linkFooter:hover {
  transform: scale(1.2); /* Escala el icono */
  animation: gradient-fill 0.6s forwards; /* Animación del degradado */
}

/* Definición de la animación del degradado */
@keyframes gradient-fill {
  0% {
    background: transparent;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(45deg, #e8c093, #89bbad, #17598c);
    -webkit-background-clip: text;
    color: transparent; /* Hace que el icono tome el color del degradado */
  }
}
